<!doctype html>
<html lang="en-UK">
  <head>
    <meta charset="utf-8" />
    <title>Event Finance Manager</title>
  </head>
  <body style="font-family:'Courier New', Courier, monospace">
    <div style="
        text-align: center;
        width: 100%;
        margin-top: 200px;
        ">
        <h1>CodingInTheBath: Event Manager</h1>
        <form action="" method="post">
            <label style="
                font-size: 20px;
            ">
            Username:</label>
            <input name="User" type="text" placeholder="e.g. LDNComicCon" required style="
                height: 25px;
                width: 200px;
            "></input><br>
            <label style="
                font-size: 20px; 
            ">Password:</label>
            <input name="Pass" type="password" placeholder="e.g. 5p1derMAN" required style="
                height: 25px;
                width: 200px;
                margin-top: 10px;
            "></input><br>
            <div style="
                margin-top: 15px; ">
                <input type="submit" value="Login" style="
                    font-size: 15px;
                "></input> 
            </form>
            <a style="
                text-decoration: none;
                font-weight: bold;
                margin-left: 20px;
            " href="/register">Register an Event</a>
        </div>
    </div>
  </body>
</html> 